* {
    margin: 0;
	padding: 0;
	border: 0;
    outline: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 12px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color: #44743c;
}

h2 {
    font-size: 19px;
    font-weight: 600;
    color: #313330;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    color: #f7f7f7;
}

h4 {
    font-size: 17px;
    font-weight: 600;
    color: #f7f7f7;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    color: #44743c;
}

header {
    display: flex;
    background-color: #f7f7f7;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.advertisements {
    background-color: #f0b42c;
    width: 100%;
    height: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }

.header-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 58px;
    background-color: #f7f7f7;
}

.left-header, .right-header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-header a {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
}

.middle-header a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middle-header a img {
    width: 160px;
}

.right-header {
    width: 30px;
}


.home-navbar {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 150;
    transition: .5s ease-out;
    position: relative;
    border: none;
}

.show {
    height: 200px;
}

.navbar-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f7f7f7;
}

.navbar-list li {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: .2s ease-in;
}

.navbar-list li a {
    cursor: pointer;
    padding: 10px;
    color: #44743c;
    font-size: 12px;
}

.navbar-list li:hover{
    background-color: #eeeeee;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.landing-page-header {
    display: block;
    position: relative;
}

.landing-page-hero {
    overflow: hidden;
    width: 100%;
    height: 50vh;
}

.text-slides {
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.text-slides li {
    color: #f7f7f7;
    font-size: 30px;
    font-weight: 700;
    z-index: 3;
    opacity: 0;
    text-align: center;  
    height: 0;
}

.text-slides .active {
    animation: ease 1.7s text-slide-transform forwards;
    height: auto;
}

@keyframes text-slide-transform {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
  }

.slides {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.slides::before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #0000004f;
    z-index: 1;
}

.slides .active {
    opacity: 1;
}

.top-slider-shape {
    position: absolute;
    height: 40px;
    width: 100%;
    z-index: 2;
    top: 0px;
}

.landing-page-header .slider-shape {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0px;
    z-index: 2;
}

.slider-shape-img {
    width: 100%;
    height: 100%;
}

.main-content {
    margin-top: 40px;
    padding: 40px 0;
    background-image: url("../assets/images/greengrocery_background.png");
    background-size: contain;
}

#contact {
    margin-bottom: 0 !important;
}

.main-section {
    width: 80%;
    margin: 0 10%;
    margin-bottom: 40px;
    background-color: #f7f7f7;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.226);
}

.main-section h1{
    text-align: center;
    margin-bottom: 24px;
}

.about-section p {
    text-align: justify;
    padding: 6px;
}

.carousel-container {
    display: flex;
    justify-content: center;
}

.carousel {
    width: 380px; 
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.226);
    transition: .2s ease-in;
}

.carousel-stores {
    width: 300px; 
    height: 220px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.226);
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    min-width: 100%;
    height: 100%;
}

.carousel-slide {
    min-width: 100%;
    object-fit: cover;
}

.stores-container {
    display: flex;
    flex-direction: column;
}

.stores-ubication {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.stores-ubication iframe {
    width: 300px; 
    margin: 10px;
    height: 220px;
}

.stores-ubication .stores-title {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.stores-ubication .stores-title h2 {
    margin-bottom: 10px;
    font-weight: 450;
}

.paid-methods-banner {
    width: 100%;
    height: 60px;
    background-color: #f0b42c;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.paid-methods-banner h3 {
    display: inline-block;
    animation: RightToLeft 13s infinite linear;
    padding-left: 60%;
}

@keyframes RightToLeft {
    0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0);
      }
}

.contact-section article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
}

.contact-section article img {
    margin-right: 10px;
}

.contact-section article a {
    color: #000;
    font-size: 12px;
    transition: .2s ease-in;
}

.contact-section article a:hover {
    color: rgb(77, 78, 82);
}

.offers {
    width: 100%;
    height: 300px;
    background-color: #44743c;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offers div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers div h4 {
    margin-bottom: 30px;
}

.offers div div p {
    margin-top: 30px;
    color: #f7f7f7;
}

footer {
    width: 100%;
    background-color: #f7f7f7;
}

.footer-menu-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.footer-menu-section div {
    padding: 10px;
}

.footer-menu-section div h4 {
    margin-bottom: 6px;
}

.footer-menu-section div ul {
    padding-left: 8px;
}

.footer-menu-section div ul li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: 12px;
    color: #44743c;
}

.footer-menu-section div ul li a {
    font-size: 12px;
    transition: .2s ease-in;
    color: #44743c;
}

.footer-menu-section div ul li img {
    width: 20px;
    margin-right: 8px;
}

.footer-menu-section div ul li a:hover {
    color: #6fa068;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
}

.footer-social-media a {
    padding-left: 8px;
    padding-top: 8px;
    width: 40px;
    height: 40px;
}

.footer-social-media a img {
    width: 40px;
}

.paid-methods-section {
    width: 100%;
    border-top: 1px solid #44743c42;
    border-bottom: 1px solid #44743c42;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.method-title h4 {
    margin-top: 20px;
}

.method-cards {
    margin-top: 20px;
    margin-bottom: 20px;
}

.method-cards img {
    width: 40px;
}

.copyright-section {
    width: 100%;
    background-color: #44743c;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright-section div img {
    width: 300px;
}

.copyright-section div p {
    color: #f7f7f7;
}

@media only screen and (min-width: 620px) {

    h1 {
        font-size: 26px;
    }
    
    h2 {
        font-size: 21px;
    }

    .carousel-stores {
        width: 400px; 
        height: 280px;
    }

    .stores-ubication .stores-title {
        justify-content: center;
    }

    .stores-ubication iframe {
        width: 400px; 
        height: 280px;
    }

    .contact-section article a {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1024px) {

    p {
        font-size: 14px;
    }

    h1 {
        font-size: 34px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 19px;
    }

    h5 {
        font-size: 18px;
    }

    .header-sections {
        height: 80px;
    }

    .middle-header a img {
        width: 210px;
        margin-left: 10px;
    }    

    .home-navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        transition: .5s ease-out;
        position: absolute;
        border-top: 1px solid #44743c42;
        border-bottom: 1px solid #44743c42;
    }

    .navbar-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .navbar-list li {
        width: 140px;
    }

    .navbar-list li a {
        font-size: 14px;
    }

    .left-header {
        display: none;
    }

    .carousel {
        width: 924px; 
        height: 700px;
    }

    .landing-page-header {
        top: 50px;
    }

    .landing-page-hero {
        height: 100vh;
    }

    .text-slides li {
        font-size: 70px;
    }

    .top-slider-shape {
        height: 70px;
    }

    .landing-page-header .slider-shape {
        height: 70px;
    }

    .stores-container {
        flex-direction: row;
        justify-content: center;
    }

    .about-section p {
        padding: 10px;
    }

    .stores-ubication {
        padding: 20px;
    }

    .paid-methods-banner h3 {
        animation: RightToLeft 16s infinite linear;
        padding-left: 80%;
    }

    .contact-section article a {
        font-size: 14px;
    }

    .footer-menu-section {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .footer-menu-section div {
        padding: 14px;
    }

    .footer-menu-section div h4 {
        margin-bottom: 10px;
    }

    .footer-menu-section div ul {
        padding-left: 10px;
    }

    .footer-menu-section div ul li {
        padding: 10px 0;
        font-size: 14px;
    }
    
    .footer-menu-section div ul li a {
        font-size: 14px;
    }

    .footer-menu-section div ul li img {
        width: 20px;
        margin-right: 10px;
    }
    
    .footer-social-media a {
        width: 50px;
        height: 50px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .footer-social-media a img {
        width: 50px;
        height: 50px;
    }

    .paid-methods-section {
        padding: 14px;
        flex-direction: row;
    }

    .method-cards {
        margin-left: 100px;
    }

    .method-cards img {
        width: 50px;
    }

    .copyright-section div img {
        width: 400px;
    }    

}
